.customers-logos {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 940px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .customers-logos {
    margin-bottom: 10px;
    overflow-y: scroll;
    position: relative;
    padding: 0 20px;
  }
}
.customers-logos--row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .customers-logos--row {
    flex-wrap: nowrap;
  }
}
.customers-logos--row .customer-logo {
  margin-right: 20px;
  width: 220px;
  height: 140px;
  background: #ffffff;
  box-shadow: inset 0 0 0 1px #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.customers-logos--row .customer-logo:nth-child(4n) {
  margin-right: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .customers-logos--row .customer-logo:nth-child(4n) {
    margin-right: 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .customers-logos--row .customer-logo {
    width: auto;
    padding: 0 20px;
    margin-bottom: 10px;
  }
}
.customers-logos--row .customer-logo:last-child {
  position: relative;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .customers-logos--row .customer-logo:last-child::after {
    content: "";
    position: absolute;
    display: block;
    right: -20px;
    width: 20rem;
    height: 1px;
  }
}

.contact-form {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 0;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
.contact-form.sent {
  padding-top: 180px;
  padding-bottom: 180px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .contact-form.sent {
    justify-content: stretch;
    padding-top: 20px;
    padding-bottom: 32px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .contact-form {
    justify-content: stretch;
    padding-top: 20px;
    padding-bottom: 0px;
  }
}
.contact-form .form-container {
  padding: 42px 32px;
  border-radius: 10px;
  background: #F5F5F7;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .contact-form .form-container {
    border-radius: 0;
    width: 100%;
    padding: 42px 20px;
  }
}
.contact-form .form-container .form-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  margin: 0;
  padding-bottom: 24px;
  letter-spacing: -0.02em;
}
.contact-form .form-container .form-text {
  font-family: var(--roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3em;
  color: #2d2d2d;
  width: 392px;
  margin: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .contact-form .form-container .form-text {
    width: auto;
    font-size: 19px;
  }
}
.contact-form .form-container .form-inputs {
  padding-top: 12px;
  padding-bottom: 12px;
}
.contact-form .form-container .form-inputs .input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 12px 0;
}
.contact-form .form-container .form-inputs .input span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #8E8E93;
}
.contact-form .form-container .form-inputs .input input,
.contact-form .form-container .form-inputs .input textarea {
  margin-top: 12px;
  padding: 16px 12px;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff;
  border: 1px solid #D2D2D4;
  box-sizing: border-box;
  display: block;
  outline: none;
  box-shadow: none;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #040506;
  transition: box-shadow 0.1s ease-in, border 0.1s ease-in;
}
.contact-form .form-container .form-inputs .input input:focus,
.contact-form .form-container .form-inputs .input textarea:focus {
  border: 1px solid #ff9500 !important;
  box-shadow: 0px 0px 0px 4px rgba(255, 149, 0, 0.1);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .contact-form .form-container .form-inputs .input input,
  .contact-form .form-container .form-inputs .input textarea {
    font-size: 17px;
    padding: 18px 12px;
  }
}
.contact-form .form-container .form-inputs .input textarea {
  min-height: 80px;
  resize: vertical;
}
.contact-form .form-container .form-inputs .input.error input {
  border: 1px solid rgba(255, 59, 48, 0.4);
  background: rgba(255, 59, 48, 0.05);
}
.contact-form .form-container .form-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 24px;
  background: #0077FF;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}
.contact-form .form-container .form-button:hover {
  opacity: 0.9;
  cursor: pointer;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .contact-form .form-container .form-button {
    width: auto;
  }
}
.button-loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 18px;
}
.button-loader div {
  width: 24px;
  margin-right: 4px;
  height: 4px;
  background: #fff;
  opacity: 0.5;
  border-radius: 1px;
}
.button-loader div:last-child {
  margin-right: 0;
}
.button-loader .first {
  animation: ButtonLoader 1s infinite;
}
.button-loader .second {
  animation: ButtonLoader 1s 0.25s infinite;
}
.button-loader .third {
  animation: ButtonLoader 1s 0.5s infinite;
}
@keyframes ButtonLoader {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.action-button-orange {
  padding: 16px 16px;
  border-radius: 10px;
  text-align: center;
  background: #ff9500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.01em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .action-button-orange {
    font-size: 17px;
    letter-spacing: 0;
  }
}
.action-button-orange.grey {
  background: #DCDCDC;
  color: #464646;
}
.action-button-orange:hover {
  opacity: 0.85;
  cursor: pointer;
}

.suspense {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-container {
  padding-top: 80px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container {
    padding-top: 60px;
  }
}
.page-container .link-to-product a {
  text-decoration: none;
  display: block;
  -webkit-tap-highlight-color: rgba(255, 149, 0, 0.2);
}
.page-container--section {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }
}
.page-container--section.product {
  height: 640px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: opacity 0.12s ease-in;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.product.omnipack {
    background-color: #1a1a1a;
  }
}
.page-container--section.product.mirror {
  flex-direction: row-reverse;
}
.page-container--section.product.mirror .product-card {
  margin-left: 0;
  margin-right: -60px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.product.mirror {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.product {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    height: auto;
  }
}
.page-container--section .product-card {
  padding: 50px;
  background: rgba(0, 0, 0, 0.98);
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin-left: -120px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section .product-card {
    max-width: none;
    padding: 40px 20px;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    margin-left: auto;
  }
  .page-container--section .product-card.omnipack {
    padding-top: 60px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section .product-card {
    background: #ffffff;
  }
  .page-container--section .product-card.omnipack {
    background-color: #1a1a1a;
  }
  .page-container--section .product-card.omnipack .product-card--name {
    color: #ffffff;
  }
  .page-container--section .product-card.omnipack .product-card--description {
    color: #eeeeee;
  }
  .page-container--section .product-card .product-card--name {
    color: #000000;
  }
  .page-container--section .product-card .product-card--description {
    color: #3c3c3c;
  }
}
.page-container--section .product-card--name {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 6px 0;
  letter-spacing: -0.02px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .page-container--section .product-card--name {
    font-size: 32px;
  }
}
.page-container--section .product-card--description {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 1.3em;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section .product-card--description {
    text-align: center;
    font-size: 21px;
  }
}
.page-container--section .product-card--actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section .product-card--actions {
    margin-top: 20px;
  }
}
.page-container--section .product-card--actions a {
  text-decoration: none;
}
.page-container--section .product-card--actions .learn-more {
  padding: 0;
  height: 24px;
  background: transparent;
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.01em;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ff9500;
  font-weight: 500;
}
.page-container--section .product-card--actions .learn-more:hover {
  background: transparent;
  text-decoration: underline !important;
}
.page-container--section .product-card--actions .learn-more .arrow {
  width: 16px;
  height: 24px;
  margin-left: 4px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section .product-card--actions .learn-more {
    font-size: 18px;
  }
}
.page-container--section .product-card--actions .get-demo {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ff9500;
  font-weight: 500;
  margin-left: 24px;
  display: none;
}
.page-container--section .video-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  height: 640px;
  z-index: 1;
  display: flex;
  justify-content: center;
  background: #f4f4f4;
}
.page-container--section .video-wrapper .opack_preview_image {
  display: none;
}
.page-container--section .video-wrapper .video-cover {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.15);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section .video-wrapper .video-cover {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section .video-wrapper {
    position: relative;
    width: auto;
    height: 240px;
  }
  .page-container--section .video-wrapper .opack_preview_vid {
    display: none;
  }
  .page-container--section .video-wrapper .opack_preview_image {
    display: block;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section .video-wrapper.omnifit {
    height: 340px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section .video-wrapper.omnifit img {
    height: 340px;
  }
}
.page-container--section .video-wrapper video,
.page-container--section .video-wrapper img {
  width: 100%;
  height: 640px;
  object-fit: cover;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section .video-wrapper video,
  .page-container--section .video-wrapper img {
    height: 240px;
  }
}
.page-container--section .video-wrapper video {
  max-width: 1440px;
}
.page-container--section .video-control {
  width: 42px;
  height: 42px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 21px;
  z-index: 3;
  align-self: flex-end;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-in;
}
.page-container--section .video-control:hover {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transform: scale(1.1);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section .video-control {
    display: none;
  }
}
.page-container--section.company {
  padding-top: 100px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.company {
    padding-top: 60px;
    position: relative;
    padding-bottom: 546px;
    overflow: hidden;
  }
}
.page-container--section.company .about-company--container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.company .about-company--container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.page-container--section.company .about-company--container .company-short-description {
  max-width: 460px;
  padding-top: 32px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.company .about-company--container .company-short-description {
    padding-top: 0;
    max-width: none;
  }
}
.page-container--section.company .about-company--container .company-short-description p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5em;
  margin: 40px 0 0 0;
  padding: 0;
  color: #37352F;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.company .about-company--container .company-short-description p {
    margin-top: 30px;
    font-size: 21px;
    line-height: 1.5em;
  }
}
.page-container--section.company .about-company--container .robot-anim {
  margin-top: 40px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.company .about-company--container .robot-anim {
    margin-top: 0;
  }
}
.page-container--section.company .about-company--container .robot-steel {
  width: 440px;
  height: 526px;
  position: relative;
  background-image: url(/assets/images/doosan-home.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.company .about-company--container .robot-steel {
    position: absolute;
    left: 50%;
    margin-left: -260px;
    bottom: 0;
  }
}
.page-container--section.customers {
  background: linear-gradient(180deg, #f8f8f8 0%, #FFFFFF 100%);
  padding-top: 100px;
  width: auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.customers {
    padding-left: 0;
    padding-right: 0;
  }
}
.page-container--section.customers .customers-container {
  max-width: 940px;
  margin: 0 auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.customers .customers-container .subheader {
    padding: 0 20px;
    margin-bottom: 20px;
  }
}
.page-container--section.customers .customers-container .description-map {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.customers .customers-container .description-map {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
  }
}
.page-container--section.customers .customers-container .description-map .description h1 {
  margin-bottom: 20px;
}
.page-container--section.customers .customers-container .description-map p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5em;
  color: #37352F;
  max-width: 540px;
  margin: 0;
  padding: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.customers .customers-container .description-map p {
    font-size: 21px;
  }
}
.page-container--section.customers .customers-container .description-map .call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 220px;
}
.page-container--section.customers .customers-container .description-map .call-to-action a {
  text-decoration: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.customers .customers-container .description-map .call-to-action {
    display: none;
  }
}
.page-container--section.customers .customers-container .call-to-action {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.customers .customers-container .call-to-action {
    display: block;
    width: auto;
    max-width: 220px;
    padding-top: 10px;
    margin: 0 auto 60px auto;
  }
}
.page-container--section.contacts {
  padding-top: 80px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.contacts {
    padding: 0;
    padding-top: 30px;
  }
  .page-container--section.contacts .subheader {
    padding: 0 20px;
  }
}
.page-container--section.contacts .contacts-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.contacts .contacts-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.page-container--section.contacts .contacts-container .contact-form {
  padding-top: 0;
}
.page-container--section.contacts .contacts-container .map-links {
  margin-left: 20px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.contacts .contacts-container .map-links {
    margin: 0;
    margin-bottom: 10px;
  }
}
.page-container--section.contacts .contacts-container .map-links .map iframe {
  width: 460px;
  height: 320px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.contacts .contacts-container .map-links .map iframe {
    width: 100vw;
  }
}
.page-container--section.contacts .contacts-container .map-links .links .link {
  display: flex;
  align-items: center;
  width: 436px;
  padding: 14px 12px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-container--section.contacts .contacts-container .map-links .links .link {
    width: auto;
  }
}
.page-container--section.contacts .contacts-container .map-links .links .link:last-child {
  box-shadow: none;
}
.page-container--section.contacts .contacts-container .map-links .links .link .icon {
  width: 32px;
  height: 32px;
  display: block;
  margin-right: 12px;
}
.page-container--section.contacts .contacts-container .map-links .links .link p,
.page-container--section.contacts .contacts-container .map-links .links .link a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  padding: 0;
}
h2.subheader {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  line-height: 1.3em;
  color: #8e8e93;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  letter-spacing: -0.01em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  h2.subheader {
    font-size: 18px;
  }
}
h1.mainheader {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  line-height: 1.3em;
  color: #000000;
  font-weight: 700;
  margin: 0;
  padding: 0;
  letter-spacing: -0.02em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  h1.mainheader {
    font-size: 32px;
    line-height: 1.3em;
  }
}
.action-button-orange {
  padding: 14px 16px;
  border-radius: 10px;
  text-align: center;
  background: #ff9500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.01em;
}
.action-button-orange.grey {
  background: #DCDCDC;
  color: #464646;
}
.action-button-orange:hover {
  opacity: 0.85;
  cursor: pointer;
}

